*.a
*.o
*.pid
*.so
*.dylib

src/3rd_party/rocksdb-5.6.2
src/server/kedis-server
tests/tmp/*

tools/hiredis/hiredis-test
tools/hiredis/hiredis.pc
tools/kedis_port/kedis_port
tools/redis_to_kedis/redis_to_kedis
tools/kedis_to_redis/kedis_to_redis
